.promo__text {
    font-size: 14px;
    line-height: 20px;
    margin-top: 50px;

    @media (min-width: $md) {
        width: 40vw
    }

    @media (max-width: $md) and (min-width: $sm) {
        width: 50vw
    }
}