@use "../mixins.scss";

.catalog {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 8rem;
  padding-bottom: 7.5rem;

  &--student {
    margin-top: 7rem;
  }

  &--project {
    margin-top: 0;
  }
}

.catalog__heading {
  padding-top: 2rem;
  padding-bottom: 2rem;

  font-size: 2.7rem;

  @include mixins.gilroyFamily;
}

.catalog__list {
  list-style: none;
  max-width: 121.5rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  margin-left: -0.4rem;
  margin-top: -0.4rem
}

.catalog__project-card {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  flex-basis: 40rem;
}

.catalog__wrapper {
  max-width: 121.5rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.catalog__page-nav {
  margin-top: 4rem;
  margin-left: auto;
  margin-right: 0;
}
