.catalog {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: 8rem;
  padding-bottom: 7.5rem;

  &--student {
    margin-top: 7rem;
  }
}

.catalog__list {
  list-style: none;
  max-width: 121.5rem;
  width: 100%;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  margin-left: -0.4rem;
}

.catalog__project-card {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  flex-basis: 40rem;
}

.catalog__wrapper {
  max-width: 120.5rem;
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.catalog__page-nav {
  margin-top: 4rem;
}
