@use "../variables";
@use "../mixins";

.controls {
  &--student {
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}

.controls__wrapper {
  @include mixins.wrapper;

  display: flex;
}

.controls__message,
.controls__download,
.controls__more {
  max-width: 50%;
  width: 100%;
  min-height: 12.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-weight: 700;
  font-size: 2.8rem;
  color: #fff;

  @include mixins.gilroyFamily;
}

.controls__download {
  background-color: #874BA0;
}

.controls__message {
  background-color: #E63246;
}

.controls__more {
  display: none;
}

@media (max-width: variables.$sm) {
  .controls__wrapper {
    padding: 0;
    flex-wrap: wrap;
  }

  .controls__more {
    display: flex;
    background-color: #4B6EB9;
  }

  .controls__message,
  .controls__download,
  .controls__more {
    max-width: 100%;
  }
}
