@use "../variables";
@use "../mixins";

.description__wrapper {
  @include mixins.wrapper;

  padding-bottom: 2rem;
}

.description__heading {
  font-weight: 700;
  font-size: 2.7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mixins.gilroyFamily;
}

.description__text {
  font-size: 1.4rem;

  column-count: 2;
  column-width: 49%;
  column-gap: 2%;
}

@media (max-width: variables.$sm) {
  .description__text {
    column-count: 1;
    max-width: 75ch;
  }
}
