@use "../mixins.scss";

.hashtags__wrapper {
  max-width: 120.5rem;
  width: 100%;

  margin: 0 auto;
  padding-bottom: 2rem;
}

.hashtags__heading {
  font-size: 2.7rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mixins.gilroyFamily;
}

.hashtags__list {
  list-style: none;
  display: flex;

  margin-left: -1rem;
}

.hashtags__item {
  margin-left: 1rem;

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000;

    &::before {
      content: "#";
    }
  }
}
