.logo {
  text-decoration: none;
  display: flex;

  transition: opacity 0.3s;

  &:hover,
  :focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.logo__img {
  background-color: #fff;

  width: 12.5rem;
  height: 3.7rem;
}
