@use "../mixins.scss";

.project-techs__wrapper {
  max-width: 120.5rem;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.project-techs__heading {
  font-size: 2.7rem;
  font-weight: 700;

  padding-top: 2rem;
  padding-bottom: 2rem;

  @include mixins.gilroyFamily;
}
