@use "../variables";
@use "../mixins";

.promo {
  min-height: 100vh;

  background:
  linear-gradient(rgba(#000, 0.3), rgba(#000, 0.2)),
  url("https://picsum.photos/1920/1080");

  background-repeat: no-repeat;
  background-size: cover;

  background-attachment: fixed;

  &--student {
    min-height: 25vh;
    padding-bottom: 15vh;
  }
}

.promo__wrapper {
  @include mixins.wrapper;
  padding-top: 19rem;
  padding-bottom: 20rem;
  padding-left: 5.5rem;
}

.promo__heading {
  @include mixins.pageHeading;
  color: #fff;
}

.promo__text {
  @include mixins.mainText;
  color: #fff;

  margin-top: 6rem;
  max-width: 50.6rem;
}

@media (max-width: variables.$sm) {
  .promo__wrapper {
    padding-left: 2rem;
  }
}
