@use "../mixins.scss";

.techs {
  list-style: none;
  display: flex;
  justify-content: space-between;

  margin-left: -1.5rem;

  &--project {
    justify-content: flex-start;

    a {
      margin-bottom: 0;
    }
  }
}

.techs__item {
  margin-left: 1.5rem;
}

.techs__link {
  margin-bottom: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 6.7rem;
  min-height: 6.7rem;
  border-radius: 20px;

  background-color: tomato;

  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 2.8rem;
  font-weight: 700;

  @include mixins.gilroyFamily;

  &--ai {
    background-color: #FF7F1E;
  }

  &--ps {
    background-color: #00A3FE;
  }

  &--id {
    background-color: #EB0081;
  }

  &--ae {
    background-color: #A456FF;
  }

  &--pr {
    background-color: #B704E3;
  }
}
