.upload-form {
    width: 100%;

    .upload-form__form {
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        margin-left: 1%;

        .upload-form__input {
            height: 44px;
        }

        .upload-form__label {
            display: flex;
            flex-direction: column ;
        }

        .upload-form__label--video::after, .upload-form__label--project::after, .upload-form__label--cover::after {
            content: '';
            position: relative;
            z-index: 10;
            border: 1px solid #1E1E1E;
            box-sizing: border-box;
            width: inherit;
            height: 152px;
            background-image: url('../img/upload-file-icon.svg');
            background-repeat: no-repeat;
            background-position: 50% 50% ;
            cursor: pointer;
        }
        
        .upload-form__input--video, .upload-form__input--cover, .upload-form__label--project{
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            position: absolute;
            z-index: -10;
        }
        

        .upload-form__name {
            font-size: 23px;
            font-weight: 700;
            line-height: 28px;
        }

        .upload-form__description {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-style: 14px;
            line-height: 21px;
            color: #1E1E1E;
        }

        .upload-form__input--description {
            resize: none;
            height: 121px;
        }

        .upload-form__alert {
            margin-top: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
        }

        .upload-form__input {
            height: 44px;
        }

        .upload-form__submit {
            height: 124px;
            background: #E63246;
            color: #fff;
            border: none;
            font-family: Gilory;
            font-size: 27px;
        }
    
        .upload-form__label {
            margin-top: 38px;
        }
    
        .upload-form__description {
            margin-bottom: 13px;
        }
    
        .upload-form__submit {
            margin-top: 86px;
        }
    }
}

@media (min-width: $md) {
    .upload-form__form {
        width: 45%;
    }
}

@media (max-width: $md) and (min-width: $sm) {
    .upload-form {
        .upload-form__form {
            width: 40%;
        }
    }
}

@media (min-width: $sm) {
    .upload-form {
        background-image: url('./../img/upload-form-back.png');
        background-size: 50%;
        background-position: 100% 0;
        background-repeat: no-repeat;
        padding-left: 5%;
    }
}

@media (max-width: $sm) {
    .upload-form {
        display: flex;
        justify-content: center;

        .upload-form__form {
            width: 80%;
        }
    }
}