@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  src: local(''),
       url('../fonts/woff2/gilroy-thin.woff2') format('woff2'),
       url('../fonts/woff/gilroy-thin.woff') format('woff'),
       url('../fonts/otf/gilroy-thin.otf') format('opentype'),
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/woff2/gilroy-light.woff2') format('woff2'),
       url('../fonts/woff/gilroy-light.woff') format('woff'),
       url('../fonts/otf/gilroy-light.otf') format('opentype'),
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/woff2/gilroy-regular.woff2') format('woff2'),
       url('../fonts/woff/gilroy-regular.woff') format('woff'),
       url('../fonts/otf/gilroy-regular.otf') format('opentype'),
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/woff2/gilroy-bold.woff2') format('woff2'),
       url('../fonts/woff/gilroy-bold.woff') format('woff'),
       url('../fonts/otf/gilroy-bold.otf') format('opentype'),
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local(''),
        url('../fonts/woff2/gilroy-heavy.woff2') format('woff2'),
        url('../fonts/woff/gilroy-heavy.woff') format('woff'),
        url('../fonts/otf/gilroy-heavy.otf') format('opentype'),
}
