// elems
@import './__upload-form/__form';
@import './__upload-form/__input';
@import './__upload-form/__lable';
@import './__upload-form/__name';
@import './__upload-form/__description';
@import './__upload-form/__alert';
@import './__upload-form/__input';
@import './__upload-form/__submit';

// modif
@import './--upload-form/--description.scss';
@import './--upload-form/--cover.scss';
@import './--upload-form/--video.scss';
@import './--upload-form/--project.scss';

.upload-form {
    width: 100%;

    @media (min-width: $sm + 1) {
        background-image: url('./../img/upload-form-back.png');
        background-size: 50%;
        background-position: 100% 0;
        background-repeat: no-repeat;
        padding-left: 5%;
    }

    @media (max-width: $sm) {
        display: flex;
        justify-content: center;
    }
}