// elemets
@import './__preview/__lable';
@import './__preview/__titile';
@import './__preview/__description';

.preview {
    margin: 5% 0 0 5%;
    width: 50vw;
    color: #fff;

    .preview__lable, .preview__title {
        margin-bottom: 40px;
    }

    @media (max-width: 587px) {
        .preview__description {
            position: absolute;
            clip: rect(1px, 1px, 1px, 1px);
            padding: 0;
            border: 0;
            height: 1px;
            width: 1px;
            overflow: hidden;
        }
    }
}